@import url('https://fonts.googleapis.com/css?family=Poppins:400,500|Roboto:400,500');

/*=================
    01.BASIC
===================*/

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    padding-top: 1rem;
}

p {
    text-align: center;
}

#title {
    font-size: 2rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 2px 3px 2px lightslategray;
}

.btn-primary {
    color: #333333;
    background-color: #89CFF0;
    border: none;
    &:hover{
        background-color: #2a9df4;
    }
    &:active{
        transform: translateY(2px);
    }
}

.navbar {
    width: 100vw;
    height: 75px;

    .nav-link {
        padding-right: 20px!important;
        padding-left: 20px!important;
    }
}

.bg-light {
    background-color: #89CFF0!important;
}

.container-fluid {
    padding-left: 0;
}

.text_form {
    border: 1px solid #707070;
    border-radius: 10px;
    min-height: 3rem;
    box-shadow: 2px 5px 2px #d4d4d4;
}

.added_content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
}

// .text_title {
//     font-size: 1.5rem;
//     text-align: center;
// }

h1 {
    &.text_title {
        font-size: 1.5rem;
        text-align: center;
    }

    &.res_title {
        font-size: 1.3rem;
        font-weight: 600;
    }
}
