.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 2px 3px 2px lightslategray;
}

.btn-primary {
    color: #333333;
    background-color: #89CFF0;
    border: none;
    &:hover{
        background-color: #2a9df4;
    }
    &:active{
        transform: translateY(2px);
    }
}

.navbar {
    width: 100vw;
    height: 75px;

    .nav-link {
        padding-right: 20px!important;
        padding-left: 20px!important;
    }
}

.bg-light {
    background-color: #89CFF0!important;
}

.container-fluid {
    padding-left: 0;
}
